@model IEnumerable<MaxCinema.Models.VM.MovieInCartViewModel>

@{
    decimal sum = 0;
    int count = 0;
}
<h1 class="family-font  border rounded-2 d-block accor-button glass-effect striped-background">Cart Display</h1>

<div class="container-fluid family-font">
    <div class="row ">
        <div class="col-md-12">
            <table class="table table-secondary table-striped">
                <thead>
                    <tr>
                        <th class="col-md-5">
                            Movie
                        </th>
                        <th class="col-md-2">
                            Unit Price / SEK
                        </th>
                        <th class="col-md-3">
                            Quantity
                        </th>
                        <th class="col-md-2">
                            Sum / SEK
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@($"{item.Movie.Id}Row")">
                            <td>
                                @item.Movie.Title
                            </td>
                            <td>
                                <div id=@($"{item.Movie.Id}Price")>@item.Movie.Price</div>
                            </td>
                            <td>
                                <span id=@($"{item.Movie.Id}Quantity")>@item.Quantity</span>
                                <button onclick="Plus1(@item.Movie.Id)" class="btn btn-primary" id="plus1">+1</button>
                                <button onclick="Minus1(@item.Movie.Id)" class="btn btn-primary" id="minus1">-1</button>
                            </td>
                            <td>
                                @{
                                    decimal qup = @item.Movie.Price * @item.Quantity;
                                    sum += qup;
                                    count += @item.Quantity;
                                }
                                <div id=@($"{item.Movie.Id}Qup")>@qup</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<strong>Total Amout</strong>
<div id="totalAmount">@count</div>
<strong>Total Cost / SEK</strong>
<div id="totalCost">@sum</div>
<a asp-action="CheckOutEmail" class="btn btn-primary">Check Out</a>
