@model MaxCinema.Models.VM.QueryMovieListsVM


<h1 class="family-font border rounded-2 d-block accor-button glass-effect striped-background">Welcome to Max Cinema</h1>
<br />

<body class="family-font">
     
        @* <div class="btnAccess">
            <div class="position-absolute top-0 end-0 p-3 m-5">
                <a asp-controller="Customer" asp-action="CustomerCheckIn" class="btn btn-danger mb-3 box-shadow m-3" tabindex="-1" role="button" aria-disabled="true">Customer</a>
                <a href="Customer/DisplayAll" class="btn btn-primary mb-3 box-shadow m-3" tabindex="-1" role="button" aria-disabled="true">Admin</a>
            </div>
        </div> *@
    <div class="container accor-button glass-effect striped-background">
  
    
        <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/hp600.jpeg" class="d-block w-100"
                         alt="HarryPotter">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Harry Potter and the Globel of Fire</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/transformers2.jpg" class="d-block w-100"
                         alt="Optimus-Prime">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Transformers</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/catchme860.jpg" class="d-block w-100"
                         alt="CatchMe">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Catch me if You can</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        
    </div>
    
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/top5.jpg" class="card-img-top" alt="Most Popular Movies">
                    <div class="card-body">
                        <h5 class="card-title">Most Popular Movies</h5>
                        <p class="card-text">The movies with the highest number of orders.</p>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Show Movies
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @* ToDo: Make it so it goes to the detailed view of that movie *@
                                <li><a href="Movie/DetailMovie/@Model.Mostpop[0].Id" class="dropdown-item">@Model.Mostpop[0].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="Movie/DetailMovie/@Model.Mostpop[1].Id">@Model.Mostpop[1].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="Movie/DetailMovie/@Model.Mostpop[2].Id">@Model.Mostpop[2].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="Movie/DetailMovie/@Model.Mostpop[3].Id">@Model.Mostpop[3].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="Movie/DetailMovie/@Model.Mostpop[4].Id">@Model.Mostpop[4].TitleAndYear</a></li>
                            </ol>
                        </div>

                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none" id="accordionMostopopMovies">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMovies">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Movies
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordionMostpopMovies">
                                    <div class="accordion-body">
                                        <div class="glass-effect red-border bg-danger-subtle">
                                            <ol class="numbered-list">
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Mostpop[0].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Mostpop[1].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Mostpop[2].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Mostpop[3].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Mostpop[4].TitleAndYear</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Top 5 movies</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/top newest.jpg" class="card-img-top" alt="Newest Movies">
                    <div class="card-body">
                        <h5 class="card-title">Newest Movies</h5>
                        <p class="card-text">Top 5 most recently released movies.</p>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Show Movies
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">@Model.Newest[0].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Newest[1].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Newest[2].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Newest[3].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Newest[4].TitleAndYear</a></li>
                            </ol>
                        </div>
                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none" id="accordionNewestMovies">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMovies">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Movies
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordionNewestMovies">
                                    <div class="accordion-body">
                                        <div class="glass-effect red-border bg-danger-subtle">
                                            <ol class="numbered-list">
                                                    <li class="mb-3 p-sm-1 rounded shadow-sm icon-link body"><a href="#">@Model.Newest[0].TitleAndYear</a></li>
                                                    <li class="mb-3 p-sm-1 rounded shadow-sm icon-link body"><a href="#">@Model.Newest[1].TitleAndYear</a></li>
                                                    <li class="mb-3 p-sm-1 rounded shadow-sm icon-link body"><a href="#">@Model.Newest[2].TitleAndYear</a></li>
                                                    <li class="mb-3 p-sm-1 rounded shadow-sm icon-link body"><a href="#">@Model.Newest[3].TitleAndYear</a></li>
                                                    <li class="mb-3 p-sm-1 rounded shadow-sm icon-link body"><a href="#">@Model.Newest[4].TitleAndYear</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <small class="text-muted">Top 5 newest movies</small>
                </div>
            </div>
        </div>
    
        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/classicTOP5.jpg" class="card-img-top" alt="Oldest Movies">
                    <div class="card-body">
                        <h5 class="card-title">Oldest Movies</h5>
                        <p class="card-text">Top 5 oldest movies based on release year.</p>
                    </div>
                    <div class="card-footer">

                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Show Movies
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">@Model.Oldest[0].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Oldest[1].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Oldest[2].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Oldest[3].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Oldest[4].TitleAndYear</a></li>
                            </ol>
                        </div>

                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none" id="accordionOldestMovies">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMovies">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Movies
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordionOldestMovies">
                                    <div class="accordion-body">
                                        <div class="glass-effect red-border bg-danger-subtle">
                                            <ol class="numbered-list">
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Oldest[0].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Oldest[1].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Oldest[2].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Oldest[3].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Oldest[4].TitleAndYear</a></li>
                                          </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <small class="text-muted">Top 5 oldest movies</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/cheapestTOP5.webp"card-img-top" alt="Cheapest Movies">
                    <div class="card-body">
                        <h5 class="card-title">Cheapest Movies</h5>
                        <p class="card-text">Top 5 movies with the lowest prices.</p>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Show Movies
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">@Model.Cheapest[0].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Cheapest[1].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Cheapest[2].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Cheapest[3].TitleAndYear</a></li>
                                <li><a class="dropdown-item" href="#">@Model.Cheapest[4].TitleAndYear</a></li>
                            </ol>
                        </div>
                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none" id="accordionCheapestMovies">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMovies">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Movies
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordionCheapestMovies">
                                    <div class="accordion-body">
                                        <div class="glass-effect red-border bg-danger-subtle">
                                            <ol class="numbered-list">
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Cheapest[0].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Cheapest[1].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Cheapest[2].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Cheapest[3].TitleAndYear</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">@Model.Cheapest[4].TitleAndYear</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Top 5 cheapest movies</small>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/moneytopCustomer.jpg" class="card-img-top"
                         alt="Most Expensive Customer">
                    <div class="card-body">
                        <h5 class="card-title">Most Expensive Customer</h5>
                        <p class="card-text">The customer with the highest total order value.</p>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Top Customer
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li class="text-center">
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935"/>
                                        </svg><br />@Model.BigestOrder.FullName
                                    </a>
                                </li>
                            </ol>
                        </div>
                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none" id="accordionBigestOrderFullName">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingMovies">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Movies
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordionBigestOrderFullName">
                                    <div class="accordion-body">
                                        <div class="glass-effect box-shadow red-border bg-danger-subtle">
                                            <ol class="list-unstyled">
                                                <li class="mb-3 p-sm-1 rounded shadow-sm hover-box body">
                                                    <a href="#">
                                                        <h4>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                                                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935" />
                                                            </svg><br />@Model.BigestOrder.FullName
                                                        </h4>
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted">Top customer</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="~/Images/cinemaHouse.jpg" class="card-img-top" alt="Our Cinema">
                    <div class="card-body">
                        <h5 class="card-title">Low-Fidelity</h5>
                        <p class="card-text">
                            Low-Fidelity Website Wireframes: Design Concept Preview
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown dropstart d-none d-sm-block">
                            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Show Wireframes
                            </button>
                            <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="~/Images/Home Page.png">Home Page</a></li>
                                <li><a class="dropdown-item" href="~/Images/About Us Page.png">About Us Page</a></li>
                                <li><a class="dropdown-item" href="~/Images/Cinema Library Page.png">Cinema Library Page</a></li>
                                <li><a class="dropdown-item" href="#">Wireframe 4</a></li>
                                <li><a class="dropdown-item" href="#">Wireframe 5</a></li>
                            </ol>
                        </div>
                        <!-- This Code is for Small Screens Accordion Above is for big Screens the list Drop Down Menu Button Just comment it for anyone knows -->
                        <div class="accordion d-block d-sm-none card-footer" id="accordionShowWireframes">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="Wireframes">
                                    <button class="accordion-button bg-danger-subtle red-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovies" aria-expanded="true" aria-controls="collapseMovies">
                                        Show Wireframes
                                    </button>
                                </h2>
                                <div id="collapseMovies" class="accordion-collapse collapse show" aria-labelledby="headingMovies" data-bs-parent="#accordion">
                                    <div class="accordion-body">
                                        <div class="glass-effect red-border bg-danger-subtle">
                                            <ol class="numbered-list">
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="~/Images/Home Page.png">Home Page</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="~/Images/About Us Page.png">About Us Page</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="~/Images/Cinema Library Page.png">Cinema lib Page</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">Customer Page</a></li>
                                                <li class="mb-3 p-sm-1 rounded shadow-sm icon-link hover-box body"><a href="#">Admin Page</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small class="text-muted"> &copy; Max Cinema</small>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>



